# Google Cloud SDK
google-cloud-sdk/

# Google Cloud SQL Proxy
cloud-sql-proxy/

# Python / Django
venv/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3

# Environment Variables / Secrets
.env
.environ

# macOS System Files
.DS_Store

yolov5/
wildlife_yolo_dataset/
caltech_images_20210113.json
caltech-camera-traps_mdv5a.0.0_results.json
